{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Edit Profile Page
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Edit profile page</h1>


        <!--rasim va text yuborilganda enctype="multipart/form-data qo'laniladi -->
        <form action="{% url 'profile-edit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_update_form | crispy }}


            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>

{% endblock %}